## Read the Biomet Database

This Notebook can be used to run the MakeCSV script.  It can also be called from command line (see README).

In [6]:
import importlib
import ReadDatabase
importlib.reload(ReadDatabase)

Make = ReadDatabase.MakeCSV(['BB'],[y for y in range(2023,2024)])

Creating .csv files for BB: Biomet
Creating .csv files for BB: Kljun_FFP_Inputs
Trace does not exist W:/2023/BB/Clean/SecondStage/canopy_height , proceeding without
Trace does not exist W:/2023/BB/Clean/SecondStage/hpbl , proceeding without

In [5]:
Make.AllData

,L,USTAR,wind_speed,wind_dir,V_SIGMA,canopy_height
TIMESTAMP,,,,,,
2022-01-01 0030,27.199499,0.154224,3.575200,70.935501,0.320560,NaN
2022-01-01 0100,43.966000,0.189614,4.278190,70.332100,0.493341,NaN
2022-01-01 0130,40.944698,0.176365,4.310190,70.046600,0.425805,NaN
2022-01-01 0200,44.228500,0.168326,3.914480,70.811302,0.408426,NaN
2022-01-01 0230,54.427700,0.168140,4.167530,73.558296,0.401956,NaN
...,...,...,...,...,...,...
2022-12-31 2200,-14.396100,0.083865,0.133479,157.817001,0.341852,NaN
2022-12-31 2230,2.296900,0.047764,0.658915,270.487000,0.314338,NaN
2022-12-31 2300,2.685260,0.062545,0.629987,327.691010,0.301879,NaN
2022-12-31 2330,NaN,NaN,1.048287,209.919937,NaN,NaN
2023-01-01 0000,NaN,NaN,NaN,NaN,NaN,NaN

## Write to the Biomet Database

* Can only be done from vinimet

In [157]:
import importlib
import WriteDatabase
importlib.reload(WriteDatabase)

Make = WriteDatabase.MakeTraces()

In [145]:
Make.Year

,PannelTemp,TSoil_5cm,TSoil_10cm,TSoil_30cm,BattV_MIN,clean_tv
Timestamp,,,,,,
2023-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,738887.020833
2023-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,738887.041667
2023-01-01 01:30:00,NaN,NaN,NaN,NaN,NaN,738887.062500
2023-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,738887.083333
2023-01-01 02:30:00,NaN,NaN,NaN,NaN,NaN,738887.104167
...,...,...,...,...,...,...
2023-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,739251.916667
2023-12-31 22:30:00,NaN,NaN,NaN,NaN,NaN,739251.937500
2023-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,739251.958333
2023-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,739251.979167
2024-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,739252.000000

In [86]:
import pandas as pd# Make.Met
Test = {'Year':['2000','2023'],
        'month':['11','02'],
        'day':['11','13'],
        'HHMM':['0000','2330']}

Data = pd.DataFrame(data=Test)

Data['date'] = ''
# pd
for c,s in zip(['Year','month','day','HHMM'],['','','','']):
    Data['date'] = Data['date'].str.cat(Data[c],sep=s)
pd.to_datetime(Data['date'],format='%Y%m%d%H%M')

0   2000-11-11 00:00:00
1   2023-02-13 23:30:00
Name: date, dtype: datetime64[ns]