## Read the Biomet Database

This Notebook can be used to run the MakeCSV script.  It can also be called from command line (see README).

In [3]:
import importlib
import ReadDatabase
importlib.reload(ReadDatabase)

Make = ReadDatabase.MakeCSV(['RBM'],[y for y in range(2022,2023)])

Creating .csv files for RBM: Biomet
Creating .csv files for RBM: Kljun_FFP_Inputs
Trace does not exist W:/2022/RBM/Clean/SecondStage/canopy_height , proceeding without
Trace does not exist W:/2022/RBM/Clean/SecondStage/hpbl , proceeding without

In [8]:
import configparser

config = configparser.ConfigParser()
config.read('ini/config.ini')
config.read(config['Read']['ini'])
config['Output']['Requests']
config['Read']['ini']

'ini/ReadTraces.ini'

In [10]:
Make.AllData.head()

Empty DataFrame
Columns: []
Index: []

## Write to the Biomet Database

* Can only be done from vinimet

In [21]:
import importlib
import WriteDatabase
importlib.reload(WriteDatabase)

Make = WriteDatabase.MakeTraces('WriteTraces_NARR.ini')

(17568, 0)
(17568, 1)

(17520, 0)
(17520, 1)

(17520, 0)
(17520, 1)

(17520, 0)
(17520, 1)

In [23]:
Make.Year

                        BB       clean_tv
Timestamp
2023-01-01 00:30:00  254.3  738887.020833
2023-01-01 01:00:00  181.4  738887.041667
2023-01-01 01:30:00  167.7  738887.062500
2023-01-01 02:00:00  153.9  738887.083333
2023-01-01 02:30:00  140.2  738887.104167
...                    ...            ...
2023-12-31 22:00:00    NaN  739251.916667
2023-12-31 22:30:00    NaN  739251.937500
2023-12-31 23:00:00    NaN  739251.958333
2023-12-31 23:30:00    NaN  739251.979167
2024-01-01 00:00:00    NaN  739252.000000

[17520 rows x 2 columns]

In [86]:
import pandas as pd# Make.Met
Test = {'Year':['2000','2023'],
        'month':['11','02'],
        'day':['11','13'],
        'HHMM':['0000','2330']}

Data = pd.DataFrame(data=Test)

Data['date'] = ''
# pd
for c,s in zip(['Year','month','day','HHMM'],['','','','']):
    Data['date'] = Data['date'].str.cat(Data[c],sep=s)
pd.to_datetime(Data['date'],format='%Y%m%d%H%M')

0   2000-11-11 00:00:00
1   2023-02-13 23:30:00
Name: date, dtype: datetime64[ns]